.cart-page-outer-wrapper {
    display: flex;
    justify-content: center;
    min-height: 80rem;
    background-color: black;
    height: fit-content;
    border-radius: 3px;
}

.cart-page-inner-wrapper {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 70rem;
    min-height: 80rem;
    height: fit-content;
    border-radius: 3px;
    margin-top: 5.5rem;
}

.cart-page-checkout {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .cart-page-checkout h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .cart-page-checkout p {
    margin-bottom: 5px;
  }

  .cart-page-checkout button {
    background-color: #282A3A;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .cart-page-checkout button:hover {
    background-color: #C69749;
  }

  .cart-page-games-checkout-game-card-container {
    display: flex;
    justify-content: space-between;
    
  }
